<div class="auth__header flex nvh">
    <h3>Sign Up</h3>
</div>
<div class="auth__container">
    <form id="form" action="/auth/signup" method="POST" enctype="multipart/form-data">
        <div class="auth__laber flex">
            <label for="username">
                <h5>Username</h5>
            </label>
            <input type="text" name="username" required placeholder="username">
        </div>
        <div class="auth__label flex">
            <label for="password">
                <h5>Password</h5>
            </label>
            <input type="password" name="password" required placeholder="password">
        </div>
        <div class="auth__label flex">
            <label for="namereal">
                <h5>Realname</h5>
            </label>
            <input type="text" name="namereal" required placeholder="real name">
        </div>
        <div class="auth__label flex">
            <select name="pais">
                <option value="Terror">Terror</option>
                <option value="Thriller">Thriller</option>
            </select>
        </div>
        <div class="auth__label flex">
            <label>Birthdate:</label>
            <input type="date" name="fecha">
        </div>
        <div class="auth__label flex">
            <section>
                <label>Profile Picture:</label>
                <input class="photoperfil" type="file" name="photo">
                <option value="MS">Montserrat</option>
            </section>
        </div>

        {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
        {{/if}}

        <div class="auth__label flex">
            <section>
                <input type="file" name="photo" id="myPhoto">
                <div class="auth__label flex">
                    <button>
                        <h6>Create account</h6>
                    </button>
                </div>
            </section>
        </div>
    </form>
</div>