{{#if user}}
{{!-- <div class="container__search flex nvh">
    <form action="/movies/title" method="POST" id="searchForm"></form>
        <input type="text" name="search">
        <input type="submit">
            
            <img src="../images/lupa.png" alt="">
    
    </form>
</div> --}}

<div class="nvh">
    <form action="/movies/title" method="POST" id="form">
    <div class="auth__label flex ">
     
      <input type="text" name="search" required placeholder="username">
    </div>
    <button><H6>Sign in</H6></button>
  </form>
</div>
{{else}}
<div class="container__logo flex">
    <h1>Not Only</h1>
    <h1>Netflix</h1>
</div>
{{/if}}
