{{#if user}}
<div class="container__search  ">
    <form action="" method="POST" id="searchForm"></form>


    <input type="text" name="search">


    <button>
        <img src="../images/lupa.png" alt="">
    </button>

    </form>
</div>
{{else}}
<div class="container__logo flex">
    <h1>Not Only</h1>
    <h1>Netflix</h1>
</div>
{{/if}}
