{{#if user}}

<form action="/movies/title" method="POST" id="searchForm">
    <div class="container__search nvh">
        <h6>Looking for something...?</h6>
        <input type="text" name="search">
        <button>
            <img src="../images/lupa.png" alt="">
        </button>
    </div>
</form>
{{else}}
<div class="container__logo flex">
    <h1>Not Only</h1>
    <h1>Netflix</h1>
</div>
{{/if}}