<div class="outer__container flex">
    <div class="movie__detail__container flex">
        <div class="movie__detail__left flex__column">

            <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" alt="">
            <div class="fav__watch flex">
                <div class="fav flex">
                    <img src="../../images/fav.png" alt="">
                </div>
                <div class="watch flex">
                    <img src="../../images/eye.png" alt="">
                </div>
            </div>
        </div>
        <div class="movie__detail__right flex__column">
            <h2> {{movie.title}}</h2>
            <div class="movie__detail__right__inner flex__column">
                <div>
                    <p>{{movie.overview}} </p>
                </div>
                <div>
                    <h2 class="flex">{{movie.vote_average}}</h2>
                </div>

            </div>
        </div>

    </div>
</div>
