<div class=" nav__bar">
    <div class="nav__bar__inner">
        <h4>Logo</h4>
    </div>
    <div class="nav__bar__inner">
        <ul>
            <li>
                <a href="/auth/perfil/{{data.user._id}}">{{data.user.username}}</a>
            </li>
            <li>
                <a href="/auth/logout">Log Out</a>
            </li>
        </ul>
    </div>
</div>
<div class="search__container">
    {{#each data.movies}}
    <div class="movies__container flex">
        <div class="movies__container__title flex">
            <h4>{{this.title}}</h4>
        </div>
        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.poster_path}}" alt="">
        <div class="fav__watch">
            <div class="fav"><img src="../images/fav.png" alt=""></div>
            <div class="watch"><img src="../images/eye.png" alt=""></div>
        </div>
    </div>
    {{/each}}
</div>
