
<div class="favlist__container flex">
    {{#each movies}}
    <div class="favlist__inner flex">
        <a href="../../movies/details/{{this.id}}"><img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{this.poster_path}}" alt=""></a>
    </div>
   {{/each}}
</div>
    
